<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <td class="footer__left" align="right" valign="top">
        <table class="rbcc">
          <tr>
            <td>
              <a href="<!-- @echo websiteUrl -->">
                <img width="90" height="90" src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" />
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td class="footer__right">
        <table class="rbcc">
          <tr>
            <td>
              <span class="name"><!-- @echo name --></span><br />
              <span class="position"><!-- @echo position --> |</span> <span class="company"><!-- @echo company --></span><br>
              <div class="links">
                <a href="mailto:<!-- @echo email -->" target="_blank"><!-- @echo email --></a><br />
              </div>
              <div class="links">
                <a href="tel:<!-- @echo phone -->" target="_blank"><!-- @echo phone --></a><br />
                <a href="<!-- @echo websiteUrl -->" target="_blank"><!-- @echo websiteTitle --></a>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
</td>
